{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
    
{% if message %}
    <table class="table table-hover table-bordered table-striped">
        {% for message in all_messages %}
        <tr>
            <td>
            {% if message.read == False %}
                <a href="{{ url_for('incoming_leads_read_short', phone=message.phone, message_id=message.id) }}" style="color:rgb(199, 0, 0)"><b>{{ message.date_added.strftime('%-I:%M%p %x') }}</b></a>
            {% else %}
                <b>{{ message.date_added.strftime('%-I:%M%p %x') }}</b>
            {% endif %}
             | Source: <a href="{{ url_for('incoming_messages', phone=message.phone) }}" style="color:blue">{{ message.phone }}</a> | {{ message.message_body }} | 
                <a href="{{ url_for('add_lead_as_job', source=message.phone, description=message.message_body) }}" style="color:green">Add Job</a> | <a href="{{ url_for('delete_lead', message_id=message.id) }}" style="color:red">Delete Lead</a></td>
            </tr>
        {% endfor %}  
    </table>

{% else %}

    <br/>
<div class="shadow p-3 mb-5 bg-body rounded">
    <form method="POST">
        <br/>
        <h1 align="left">Send a Message</h1>
        <br/>
        {{ form.hidden_tag() }}

        {{ form.phone.label(class="form-label") }}

        {{ form.phone(class="form-control") }}
        <br/>

        {{ form.message_body.label(class="form-label") }}

        {{ form.message_body(class="form-control") }}
        <br/>

        {{ form.submit(class="btn btn-success") }}

    </form>
</div>
<br/>
<h1>{{ heading }}</h1>
<em><p>Click the <b style="color:rgb(199, 0, 0)">red date</b> to mark as read</p></em>
<br/>  
<table class="table table-hover table-bordered table-striped">
    {% for message in all_messages %}
    <tr>
        <td>
        {% if message.read == False %}
            <a href="{{ url_for('incoming_leads_read', phone=message.phone, message_id=message.id) }}" style="color:rgb(199, 0, 0)"><b>{{ message.date_added.strftime('%-I:%M%p %x') }}</b></a>
        {% else %}
            <b>{{ message.date_added.strftime('%-I:%M%p %x') }}</b>
        {% endif %}
         | Source: <a href="{{ url_for('incoming_messages', phone=message.phone) }}" style="color:blue">{{ message.phone }}</a> | {{ message.message_body }} | 
         <a href="{{ url_for('add_lead_as_job', source=message.phone, description=message.message_body) }}" style="color:green">Add Job</a> | <a href="{{ url_for('delete_lead', message_id=message.id) }}" style="color:red">Delete Lead</a></td>
        </tr>
    {% endfor %}  
</table>
{% endif %}

{% endblock %}