{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

    <br/>
    <div class="card">
        <div class="card-header">
  
            <h1>{{ current_user.name }}'s Dashboard</h1>
        </div>
        <div class="card-body">
          <p class="card-text">
            <strong>User ID: </strong>{{ current_user.id }}<br/><br/>
            <strong>Email: </strong>{{ current_user.email }}<br/><br/>
            <strong>Username: </strong>{{ current_user.username }}<br/><br/>
            <strong>Date Joined: </strong>{{ current_user.date_added }}<br/><br/>
          </p>

          <a href="{{ url_for('update_user', id=current_user.id) }}" class="btn btn-success">Update Profile</a>
          <a href="{{ url_for('delete_user', id=current_user.id) }}" class="btn btn-danger">Delete Profile</a>
        </div>
      </div>
    <div>

    </div>
    <br/>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a href="{{ url_for('logout') }}" class="btn btn-outline-dark btn-lg">Logout</a>
      <br/>
    </div>
</div>

{% endblock %}