{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}


<h1>{{ heading }}</h1>
<br/>
<table class="table table-hover table-bordered table-striped">
    {% for message in all_messages %}
    <tr>
        <td>Message #{{ message.id }}.) <a href="{{ url_for('incoming_messages', phone=message.phone) }}" style="color:blue">{{ message.phone }}</a> | {{ message.message_body }} | 
            <a href="{{ url_for('add_job') }}" style="color:green">Add Job</a> | <a href="{{ url_for('delete_lead', message_id=message.id) }}" style="color:red">Delete Lead</a</td>
        </tr>
    {% endfor %}  
</table>

{% endblock %}