{% extends 'base.html' %}

{% block content %}
<br/>
<img src="{{ url_for('static', filename='images/simplehomepage.png' )}}"
class="img-fluid" alt="Responsive image">
<br/><br/><br/>
<h1 fs-1><b>A novel workflow solution</b></h1>
<br/><br/>
<h4>Simple streamlines the internal processes of field service companies. Through its straightforward 
  interface and easy approach to workflow management, Simple drastically reduces the time it takes job 
  dispatchers to assign and manage workload through a traditional text messaging system while maintaining 
  organized, up-to-date accounting.
<br/><br/>
  Think easy, think Simple.</h4>

<!--<p id="demo">This is stuff</p>

<script src="{{ url_for('static', filename='js/myfile.js') }}"></script> -->

{% endblock %}