{% extends 'base.html' %}

{% block content %}
<br/>
<img src="{{ url_for('static', filename='images/simplehomepage.png' )}}"
class="img-fluid" alt="Responsive image">
<br/><br/><br/>
<h1 fs-1><b>A novel workflow solution</b></h1>
<br/>
<h4><b>Simple is a cloud-based field service management solution that streamlines internal 
  business processes through both a mobile app and desktop dashboard.</b> 
  <br/><br/>
  We support a wide range of field service industries with interchangeable tools such as an integrated 
  CRM, real-time scheduling and dispatching, expense tracking, invoice creation and billing, 
  and technician client reminders. 
  
<br/><br/>

<img src="{{ url_for('static', filename='images/simplehome2.png' )}}"
class="img-fluid" alt="Responsive image">
<br/><br/>
<h1 fs-1><b>Why Simple?</b></h1>
<br/>
<h4>Short answer, because it’s simple. <em>Very.</em>  
  <br/><br/>
  With its straightforward interface and uncomplicated approach to workflow management, 
  <b>Simple drastically reduces the time it takes dispatchers to assign and manage workload 
  and maintain organized, up-to-date accounting – <em>all with minimal clicks.</em></b>
  <br/><br/>
  Dispatchers communicate with technicians through the app via a traditional phone text 
  messaging system, the tried-and-true method of communication preferred by 91% of technicians. 
  Unlike other field service software solutions, Simple understands that <b>technicians do not 
  want to deal with complicated apps and a steep learning curve</b>. With our app, they maintain 
  their longtime, comfortable routine, automatically processing the vast majority of their 
  jobs with our <b>automated text messaging system</b> (direct messaging with the dispatcher is also 
  available).
  
  <br/><br/>

<img src="{{ url_for('static', filename='images/simplehome3.png' )}}"
class="img-fluid" alt="Responsive image">
<br/><br/>
<h1 fs-1><b>Problem Solved.</b></h1>
<br/>
<p>Forget inefficient workflows and overly-complicated apps. Simple is here to <b>streamline 
  your business, dramatically ramp up your productivity, and promote your company's growth</b> 
  all while maintaining the familiarity of text messaging dispatcher-to-technician communication.
<br/><br/>
  Join us today. We welcome the opportunity to work with you.
<br/><br/>

<img src="{{ url_for('static', filename='images/simplehome4.png' )}}"
class="img-fluid" alt="Responsive image">

<br/><br/>


<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a href="{{ url_for('add_user') }}" class="btn btn-success btn-lg">sign me up</a>
</div>  
<!--<p id="demo">This is stuff</p>

<script src="{{ url_for('static', filename='js/myfile.js') }}"></script> -->

{% endblock %}