{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a href="{{ url_for('add_job') }}" class="btn btn-outline-dark btn-lg">add job</a>
  </div>   
</br>
<h1>{{ heading }}</h1>
    <br/>
    <table class="table table-hover table-bordered table-striped">
        {% for job in all_jobs %}
            <tr>
            {% if job.canceled == False: %}
            <td><b>Job #{{ job.id }}</b> | <a href="{{ url_for('update_job', id=job.id) }}">{{ job.description }}</a> | 
                {% if job.confirmed == "Unconfirmed" %}
                    <a href="{{ url_for('assign_job', job_id=job.id) }}" style="color:red">Assign</a>
                {% elif job.confirmed == "Confirmed" %}
                    <a href="{{ url_for('update_job', id=job.id) }}" style="color:green">Confirmed</a>
                {% endif %} 
                {% if job.open == "Open" %}
                    | <a href="{{ url_for('update_job', id=job.id) }}" style="color:darkmagenta">{{ job.open }}</a>
                {% else %}
                    | <a href="{{ url_for('update_job', id=job.id) }}" style="color:gray">{{ job.open }}</a>
                    {% if job.billed == False %}
                         <em style="color:green">${{ job.amt_paid }} paid</em>
                    {% else %}
                         <em style="color:green">${{ job.amt_billed }} billed</em>
                    {% endif %}                      
                {% endif %}
                | Contact: {{ job.contact }} | Technician: {{ job.technician_name }}, ID #{{ job.technician }} | Technician Phone: {{ job.technician_phone }} 
                | {{ job.job_time }} {{ job.address }} {{ job.notes }} <a href="{{ url_for('delete_job', id=job.id) }}" style="color:red">Delete</a> | 
                {% if job.confirmed == "Confirmed" %}
                    <a href="{{ url_for('job_messages', job_id=job.id, tech_id=job.technician) }}" style="color:blueviolet">Job Messages</a>
                {% else %}
                    <a href="{{ url_for('job_messages', job_id=job.id, tech_id=0) }}" style="color:blueviolet">Job Messages</a>
                {% endif %}
                {% if job.confirmed == "Confirmed" %}
                    | <a href="{{ url_for('cancel_notify_job', id=job.id, tech_id=job.technician) }}" style="color:deeppink">Cancel and Notify Technician</a>
                {% else %}
                    | <a href="{{ url_for('cancel_job', id=job.id) }}" style="color:deeppink">Cancel</a>
                {% endif %}
            {% else %}   
            <td style="color:gray"><b style="color:gray">Job #{{ job.id }}</b> | <a href="{{ url_for('update_job', id=job.id) }}" style="color:gray">{{ job.description }}</a> | 
                {% if job.confirmed == "Unconfirmed" %}
                    <a href="{{ url_for('assign_job', job_id=job.id) }}" style="color:gray">Assign</a>
                {% elif job.confirmed == "Confirmed" %}
                    <a href="{{ url_for('update_job', id=job.id) }}" style="color:gray">Confirmed</a>
                {% endif %} 
                {% if job.open == "Open" %}
                    | <a href="{{ url_for('update_job', id=job.id) }}" style="color:gray">{{ job.open }}</a>
                    {% else %}
                    | <a href="{{ url_for('update_job', id=job.id) }}" style="color:gray">{{ job.open }}</a>
                    {% if job.billed == False %}
                         <em style="color:gray">${{ job.amt_paid }} paid</em>
                    {% else %}
                         <em style="color:gray">${{ job.amt_billed }} billed</em>
                    {% endif %}                      
                {% endif %}
                | Contact: {{ job.contact }} | Technician: {{ job.technician_name }}, ID #{{ job.technician }} | Technician Phone: {{ job.technician_phone }} 
                | {{ job.job_time }} {{ job.address }} {{ job.notes }}<a href="{{ url_for('delete_job', id=job.id) }}" style="color:grey">Delete</a> | 
                {% if job.confirmed == "Confirmed" %}
                    <a href="{{ url_for('job_messages', job_id=job.id, tech_id=job.technician) }}" style="color:grey">Job Messages</a>
                {% else %}
                    <a href="{{ url_for('job_messages', job_id=job.id, tech_id=0) }}" style="color:grey">Job Messages | </a>
                {% endif %}
                | <a href="{{ url_for('uncancel_job', id=job.id) }}" style="color:deeppink">Uncancel</a>
                
            {% endif %}
            </tr>
        {% endfor %}  
    </table>


{% endblock %}