{% extends 'base.html' %}

{% block content %}

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a href="{{ url_for('add_message') }}" class="btn btn-outline-dark btn-lg">Add Message</a>
  </div>

<h1>{{ heading }}</h1>
    <br/>
    <table class="table table-hover table-bordered table-striped">
        {% for message in all_messages %}
        <tr>
            <td>{% if message.direct_message %}
                {{ message.id }}. | <a href="{{ url_for('technicians') }}">To: {{ message.tech_name }} | ID #{{ message.technician_id }} / {{ message.phone }}</a> | Job #{{ message.job_ref }} 
                | {{ message.message_body }}</td>
            {% endif %}

        </tr>
        {% endfor %}  
    </table>


{% endblock %}