{% extends 'base.html' %}

{% block content %}

<br/>
<h2>Your search results for <em>{{ searched }}:</em></h2>
<br/>

{% if jobs %}

{% for job in jobs %}
<table class="table table-hover table-bordered table-striped">

        <tr>
        <td><b>Job #{{ job.id }}</b> | <a href="{{ url_for('update_job', id=job.id) }}">{{ job.address }}</a> | 
            {% if job.confirmed == "Unconfirmed" %}
                <a href="{{ url_for('assign_job', job_id=job.id) }}" style="color:red">{{ job.confirmed }}</a>
            {% elif job.confirmed == "Confirmed" %}
                <a href="{{ url_for('assign_job', job_id=job.id) }}" style="color:green">{{ job.confirmed }}</a>
            {% endif %} 
            {% if job.open == "Open" %}
                | <a href="{{ url_for('update_job', id=job.id) }}" style="color:darkmagenta">{{ job.open }}</a>
            {% else %}
                | <a href="{{ url_for('update_job', id=job.id) }}" style="color:gray">{{ job.open }}</a>
            {% endif %}
            | {{ job.contact }} | {{ job.description }} | Technician: {{ job.technician_name }}, ID #{{ job.technician }} | Technician Phone: {{ job.technician_phone }} 
            | {{ job.job_time }} | {{ job.notes }} <a href="{{ url_for('delete_job', id=job.id) }}" style="color:red">Delete</a> | 
            <a href="{{ url_for('job_messages', job_id=job.id) }}" style="color:blueviolet">Job Messages</a>
        </tr>
 
</table>
{% endfor %}

{% else %}
Sorry, your search did not match any jobs.

{% endif %}

{% endblock %}