{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }} {{ name }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

{% if id == current_user.id %}

    <h1>Update User</h1>

    <br/>
<div class="shadow p-3 mb-5 bg-body rounded">
    <form action="/updateuser/{{ 
        name_to_update.id }}" method="POST">
        {{ form.hidden_tag() }}

        {{ form.name.label(class="form-label") }}

        {{ form.name(class="form-control", 
        value=name_to_update.name) }}
        <br/>

        {{ form.email.label(class="form-label") }} <!-- just the label --> 

        {{ form.email(class="form-control",
        value=name_to_update.email) }}
        <br/>

        {{ form.username.label(class="form-label") }} <!-- just the label --> 

        {{ form.username(class="form-control",
        value=name_to_update.username) }}
        <br/>
        {{ form.submit(class="btn btn-success") }}

    </form>
</div>
<br/>

{% else %}

<div class="alert alert-success alert-dismissible fade show" role="alert">
    Sorry you cannot edit this user. 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<h2>Access Denied!</h2>

{% endif %}

{% endblock %}