{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }} {{ address }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a href="{{ url_for('jobs') }}" class="btn btn-outline-dark btn-lg">jobs</a>
    <a href="{{ url_for('add_job') }}" class="btn btn-outline-dark btn-lg">add job</a>
  </div>  
</br>
{% if address %}
    <h1>Update Job #{{ id }}</h1>
    <br/>
    <table class="table table-hover table-bordered table-striped">
        {% for job in all_jobs %}
            <tr>
            {% if job.canceled == False: %}
            <td><b>Job #{{ job.id }}</b> | <a href="{{ url_for('update_job', id=job.id) }}">{{ job.description }}</a> | 
                {% if job.confirmed == "Unconfirmed" %}
                    <a href="{{ url_for('assign_job', job_id=job.id) }}" style="color:red">Assign</a>
                {% elif job.confirmed == "Confirmed" %}
                    <a href="{{ url_for('update_job', id=job.id) }}" style="color:green">Confirmed</a>
                {% endif %} 
                {% if job.open == "Open" %}
                    | <a href="{{ url_for('update_job', id=job.id) }}" style="color:darkmagenta">{{ job.open }}</a>
                {% else %}
                    | <a href="{{ url_for('update_job', id=job.id) }}" style="color:gray">{{ job.open }}</a>
                    {% if job.billed == False %}
                         <em style="color:green">${{ job.amt_paid }} paid</em>
                    {% else %}
                         <em style="color:green">${{ job.amt_billed }} billed</em>
                    {% endif %}                      
                {% endif %}
                | Contact: {{ job.contact }} | Technician: {{ job.technician_name }}, ID #{{ job.technician }} | Technician Phone: {{ job.technician_phone }} 
                | {{ job.job_time }} {{ job.address }} {{ job.notes }} <a href="{{ url_for('delete_job', id=job.id) }}" style="color:red">Delete</a> | 
                {% if job.confirmed == "Confirmed" %}
                    <a href="{{ url_for('job_messages', job_id=job.id, tech_id=job.technician) }}" style="color:blueviolet">Job Messages</a>
                {% else %}
                    <a href="{{ url_for('job_messages', job_id=job.id, tech_id=0) }}" style="color:blueviolet">Job Messages</a>
                {% endif %}
                {% if job.confirmed == "Confirmed" %}
                    | <a href="{{ url_for('cancel_notify_job', id=job.id, tech_id=job.technician) }}" style="color:deeppink">Cancel and Notify Technician</a>
                {% else %}
                    | <a href="{{ url_for('cancel_job', id=job.id) }}" style="color:deeppink">Cancel</a>
                {% endif %}
            {% else %}   
            <td style="color:gray"><b style="color:gray">Job #{{ job.id }}</b> | <a href="{{ url_for('update_job', id=job.id) }}" style="color:gray">{{ job.description }}</a> | 
                {% if job.confirmed == "Unconfirmed" %}
                    <a href="{{ url_for('assign_job', job_id=job.id) }}" style="color:gray">Assign</a>
                {% elif job.confirmed == "Confirmed" %}
                    <a href="{{ url_for('update_job', id=job.id) }}" style="color:gray">Confirmed</a>
                {% endif %} 
                {% if job.open == "Open" %}
                    | <a href="{{ url_for('update_job', id=job.id) }}" style="color:gray">{{ job.open }}</a>
                    {% else %}
                    | <a href="{{ url_for('update_job', id=job.id) }}" style="color:gray">{{ job.open }}</a>
                    {% if job.billed == False %}
                         <em style="color:gray">${{ job.amt_paid }} paid, </em><em style="color:green">${{ <job class="expenses"></job> }} parts</em>
                    {% else %}
                         <em style="color:gray">${{ job.amt_billed }} billed, </em><em style="color:green">${{ <job class="expenses"></job> }} parts</em>
                    {% endif %}                      
                {% endif %}
                | Contact: {{ job.contact }} | Technician: {{ job.technician_name }}, ID #{{ job.technician }} | Technician Phone: {{ job.technician_phone }} 
                | {{ job.job_time }} {{ job.address }} {{ job.notes }}<a href="{{ url_for('delete_job', id=job.id) }}" style="color:grey">Delete</a> | 
                {% if job.confirmed == "Confirmed" %}
                    <a href="{{ url_for('job_messages', job_id=job.id, tech_id=job.technician) }}" style="color:grey">Job Messages</a>
                {% else %}
                    <a href="{{ url_for('job_messages', job_id=job.id, tech_id=0) }}" style="color:grey">Job Messages | </a>
                {% endif %}
                | <a href="{{ url_for('uncancel_job', id=job.id) }}" style="color:deeppink">Uncancel</a>
                
            {% endif %}
            </tr>
        {% endfor %}  
    </table>

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a href="{{ url_for('jobs') }}" class="btn btn-outline-dark btn-lg">Jobs</a>
      </div>  
    </br>

{% else %}
    <h1>Update Job #{{ id }}</h1>
    <br/>
<div class="shadow p-3 mb-5 bg-body rounded">
    <form action="/updatejob/{{ 
        job_to_update.id }}" method="POST">
        {{ form.hidden_tag() }}
        
        {{ form.description.label(class="form-label") }} <!-- just the label --> 

        {{ form.description(class="form-control",
        value=job_to_update.description) }}

        <br/>
        {{ form.confirmed.label(class="form-label") }} <!-- just the label --> 

        {{ form.confirmed(class="form-control",
        value=job_to_update.confirmed) }}
        <br/>
        {{ form.open.label(class="form-label") }} <!-- just the label --> 

        {{ form.open(class="form-control",
        value=job_to_update.open) }}
        <br/>
        {{ form.contact.label(class="form-label") }} <!-- just the label --> 

        {{ form.contact(class="form-control",
        value=job_to_update.contact) }}
        <br/>

        {{ form.address.label(class="form-label") }}

        {{ form.address(class="form-control", 
        value=job_to_update.address) }}
        <br/>
        {{ form.technician.label(class="form-label") }} <!-- just the label --> 
 
        {% if job_to_update.technician != None %}
             {{ job_to_update.technician_name }} 
            <!--{{ form.technician(class="form-control", value=job_to_update.technician) }}-->
        {% else %}
            Not yet assigned
        {% endif %}
        <br/> 
        <br/>
        {{ form.job_time.label(class="form-label") }} <!-- just the label --> 

        {{ form.job_time(class="form-control",
        value=job_to_update.job_time) }}
        <br/>
        {{ form.notes.label(class="form-label") }} <!-- just the label --> 

        {{ form.notes(class="form-control",
        value=job_to_update.notes) }}
        <br/>
        {{ form.submit(class="btn btn-success") }}

        <a href="{{ url_for('delete_job', id=id)}}" 
        class="btn btn-danger">delete</a>

    </form>
</div>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a href="{{ url_for('jobs') }}" class="btn btn-outline-dark btn-lg">cancel</a>
  </div>  
<br/><br/><br/>

{% endif %}

{% endblock %}