{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }} {{ name }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
    
{% if name %}
    <h1>Update Technician</h1>
    <br/>
    <table class="table table-hover table-bordered table-striped">
        {% for our_user in our_users %}
            <tr>
            <td><b>ID #{{ our_user.id}}</b> | <a href="{{ url_for('update', id=our_user.id) }}">{{ our_user.name }}</a> | {{ our_user.phone }} | 
                Rate: {{ our_user.tech_rate }}% | <a href="{{ url_for('tech_messages', tech_id=our_user.id) }}" style="color:darkcyan">Contact</a> |
                <a href="{{ url_for('tech_jobs', tech_id=our_user.id) }}" style="color:blueviolet">{{ our_user.name }}'s Jobs</a> | 
                <a href="{{ url_for('delete_tech', id=our_user.id) }}" style="color:red">Delete</a></td>
            </tr>
        {% endfor %}  
    </table>


{% else %}

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a href="{{ url_for('technicians') }}" class="btn btn-outline-dark btn-lg">technicians</a>
    <a href="{{ url_for('add_tech') }}" class="btn btn-outline-dark btn-lg">add technician</a>
  </div> 
<br/>
    <h1>Update Technician</h1>
    <br/>
<div class="shadow p-3 mb-5 bg-body rounded">
    <form action="/update/{{ 
        name_to_update.id }}" method="POST">
        {{ form.hidden_tag() }}

        {{ form.name.label(class="form-label") }}

        {{ form.name(class="form-control", 
        value=name_to_update.name) }}
        <br/>

        {{ form.phone.label(class="form-label") }} <!-- just the label --> 

        {{ form.phone(class="form-control",
        value=name_to_update.phone) }}
        <br/>

        {{ form.tech_rate.label(class="form-label") }} <!-- just the label --> 

        {{ form.tech_rate(class="form-control",
        value=name_to_update.tech_rate) }}
        <br/>
        {{ form.submit(class="btn btn-success") }}

        <a href="{{ url_for('delete_tech', id=id)}}" 
        class="btn btn-danger">delete</a>

    </form>
</div>
<br/>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    <a href="{{ url_for('technicians') }}" class="btn btn-outline-dark btn-lg">cancel</a>
  </div> 
<br/><br/><br/>
{% endif %}

{% endblock %}